backtrader==1.9.76.123
backtrader_plotly==1.2.0
billiard==3.6.4.0
celery_progress==0.1.2
jenkspy==0.2.0
joblib==1.1.0
keras==2.8.0
matplotlib==3.5.1
numpy==1.22.3
pandas==1.4.2
plotly==5.7.0
psycopg2==2.9.3
psycopg2_binary==2.9.3
scikit_learn==1.1.1
sortedcontainers==2.4.0
tensorflow==2.8.0
tqdm==4.64.0
